body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #222;
  font-family: "Varela Round";
}

body * {
  transition: box-shadow 0.400s ease-in-out, background  0.400s ease-in-out;
}

h1, h2, h3 {
 
    margin: 0px;
}  

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}


nav ul li a {
  color: #333;
  text-decoration: none;
}
.App{
  width: 100%;
  max-width: 1920px;
  margin: 0px auto;
  background: #eee;
  padding-bottom: 40px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 99;
  top: 0px;
  max-width: 1920px;
  background: #eee;
  -webkit-box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
 
}

nav ul {
  margin: 0px;
  padding: 10px 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  
}

nav ul li {
  margin: 0px 10px;
    
}

header {
  background: url("./assets/hessam-hojati-1279045-unsplash.jpg");
  height: 500px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
}

header h1 {
  padding-top: 200px;
  font-size: 6rem;
  text-transform: uppercase;
  width: 40%;
  margin: 0 auto;
  color: #333;
  text-align: center;
}
.itemsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 40%;
  max-width: 400px;
  border-bottom: 3px solid transparent;
  margin-bottom: 60px;
}

.item:hover {
  border-bottom-color:rgb(253, 173, 0);
}


.item > .cover {
  width: 100%;
  height: 300px;
  background-size: 120%;
  background-position: center;
  margin-bottom: 20px;
}
.item:hover > .cover {
  background-size: 130%;
  
}
.item a {
  color: #222;
  text-decoration: none;
}
.banner {
  background: url("./assets/hessam-hojati-1279045-unsplash.jpg") center;
  background-size: 100%;
  height: 300px;
  margin-bottom: 30px;
}
section {
  margin-top: 40px;
}
.itemCreation {
  display: flex;
  justify-content: space-around;
}
form {
  width: 60%;
  max-width: 900px;
 
}

form * {
  width: 100%;
  padding: 10px 0px;
  border: none;
  display: block;
}

.control input, .control textarea{
  background: none;
  border: 1px solid #999;
  color: #111;
  text-indent: 10px;
  font-size: 1.3rem;
}

form input[type="submit"]{
  width: 30%;
  font-size: 1.3rem;
  cursor: pointer;

}

form input[type="submit"]:hover {
 color: #fff;
  background: rgb(0, 189, 189);
  -webkit-box-shadow: 0px 10px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 18px -6px rgba(0,0,0,0.75);
}

.preview {
  width: 35%;
  max-width: 500px;
  
}

.preview img {
  width: 100%;
  margin-bottom: 10px;
}

.delete {
  padding: 10px;
  border: none;
  background: #ddd;
  cursor: pointer;
  font-size: 1.2rem;
}
.delete:hover {
  background: red;
  color: #fff;
  -webkit-box-shadow: 0px 10px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -6px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -6px rgba(0,0,0,0.75);
}